[project]
	description = IanGely's site
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Angl (IanGely)
[access "refs/for/refs/*"]
	read = group user/Angl (IanGely)
	push = group user/Angl (IanGely)
	label-Code-Review = -2..+2 group user/Angl (IanGely)
	label-Verified = -1..+1 group user/Angl (IanGely)
	rebase = group user/Angl (IanGely)
	removeReviewer = group user/Angl (IanGely)
	submit = group user/Angl (IanGely)
[access "refs/heads/*"]
	read = group user/Angl (IanGely)
	create = group user/Angl (IanGely)
	push = +force group user/Angl (IanGely)
	pushMerge = group user/Angl (IanGely)
[access "refs/tags/*"]
	push = +force group user/Angl (IanGely)
	pushTag = group user/Angl (IanGely)
	pushSignedTag = group user/Angl (IanGely)
